.personalSchedule {
  font-family: "Trebuchet MS", 'Jua', sans-serif;
  background-color: #ffd966;
}

#detailed{
  font-family: 'Jua', sans-serif;
  display: none; /* Hidden by default */
  border-collapse: collapse;
  position: relative;
  z-index: 1; /* Sit on top */
  top: 150px;
  width: 260px; /* Full width */
  overflow: auto; /* Enable scroll if needed */
  color: #000000;
  background-color: #fefefe;
  border:1px solid #223249;
}
  #detailed th{
    background-color: #223249;
    border:1px solid #223249;
    color: #FFFFFF;
    text-align: center;
    height: 30px;
  }
  #detailed td{
    border:1px solid #223249;
    text-align: center;
  }

#calendar {
    font-family: 'Jua', sans-serif;
    border-collapse: collapse;
    width: 98%;
  }
  
  #calendar td{
    padding: 8px;
    width: 58px;
    height: 60px;
    text-align: left;
    vertical-align: top;
    font-size: 10px;
    font-family: 굴림;
    border:1px solid #223249;
  }

  #calendar th{
      background-color: #223249;
      border:1px solid #223249;
      height: 65px;
      font-weight: bold;
      color: #FFFFFF;
      text-align: center;
    }

    #calendar th:hover{
        background-color: #35455b;
    }

  #calendar td:hover {background-color: #ddd;}

/* Pop up for adding schedule */
.modal {
  animation: MoveDown 0.6s ease-in-out;
  font-family:'Jua', sans-serif;
  display: none; /* Hidden by default */
  float: right;
  position: relative;
  z-index: 1; /* Sit on top */
  top: -427px;
  right: 19px;
  width: 251px; /* Full width */
  overflow: auto; /* Enable scroll if needed */
  color: #223249;
  background-color: #ffffff;
  border:6px solid #223249;
  border-radius: 12px;
}

/* Modal Content */
.modal-content {
  z-index: 1; /* Sit on top */
  margin: auto;
  padding: 18px;
  padding-top:4px;
}

@keyframes MoveDown {
  0%{
    top: -457px;
  }
  100% {
    top: -427px;
  }
}

.btn{
  font-family: 'Jua', sans-serif;
  background-color: #223249; /* Green */
  border: none;
  color: white;
  border-radius: 8px;
  padding: 12px 29px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
}