.personalSchedule {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  background-color: #c8c46e;
}

#calendar {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #calendar td{
    padding: 8px;
    width: 58px;
    height: 50px;
    text-align: left;
    vertical-align: top;
    font-size: 10px;
    font-family: 굴림;
    border:1px solid #223249;
  }

  #calendar th{
      background-color: #223249;
      height: 70px;
      font-weight: bold;
      color: #FFFFFF;
      text-align: center;
    }

    #calendar th:hover{
        background-color: #35455b;
    }

  #calendar td:hover {background-color: #ddd;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  right: 10px;
  top: 30px;
  width: 300px; /* Full width */
  height: 182px; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  color: #000000;
  background-color: #fefefe;
  border:1px solid #223249;
}

/* Modal Content */
.modal-content {
  z-index: 1; /* Sit on top */
  margin: auto;
  padding: 20px;
}